.cat {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  padding: 10px 0;
}

.cat::-webkit-scrollbar {
  height: 6px;
}

.cat::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.categories {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.categories button {
  flex-shrink: 0;
  white-space: nowrap;
  padding: 10px 15px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .categories {
    width: 90vw;
    justify-content: center;
  }
  .butt{
    display: block;
    margin-top:20px;
  }
  .button{
    display: none;
  }
}
